logs
*.log
pids
*.pid
*.seed

node_modules
node_modules_vagrant
node_modules_local
npm-debug.log

.vagrant
.DS_Store
.idea/
*.css.map

provisioning/*.retry

public/javascript
public/stylesheets/style.css
.babel-cache
config/*.json
config/local.js
db/dumps
data/
screenshots

# vscode typescript stuff
/jsconfig.json
typings/*

nohup.out
.sass-cache/