{
  "production": {
    "braintree_merchant_id": "{{ braintree_merchant_id }}",
    "braintree_public_key": "{{ braintree_public_key }}",
    "braintree_secret_key": "{{ braintree_secret_key }}"
  }
}